body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #040405;
}

#calc-container {
    background-color: #0703be;
    margin: 52px;
    width: 425px;
    height: 700px;
    color: #af4e03;
    /* padding:1vw; */
    margin: 0;
    margin-top: 70px;
    padding: 0;
}

#calc-btns {
    width: 100%;
    height: 82%;
    display: flex;
    flex-flow: row wrap;
    margin-top: 6px;
}

body header {
    position: sticky;
    top: 0;
    background-color: #00154F;
    width: 100%;
    color: #0307f1;
}

#calc-view {
    width: 100%;
    height: 16%;
    background-color: #f06902;
    color: #00154F;
    /* position: relative; */
    border-bottom: solid #00154F;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(3vw + 3vh);
}

#calc-view p {
    margin: 0;
}

.single-btn,
.double-btn {
    width: 25%;
    height: 20%;
    background-color: #f06902;
    display: flex;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    font-size: 200%;
    /* position: relative; */
}

.double-btn {
    width: 50%;
    border-radius: 40%;
}

.inner-btn,
.inner-btn2 {
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background-color: #00154F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-btn2 {
    border-radius: 30%;
}

header {
    font-size: 12px;
}

header h1 {
    padding-left: 16px;
}